<launch>
	<node
		pkg="central"
		type="go.py"
		name="bc"
		output="screen"
	/>

	<node
		pkg="audio_io"
		type="capture.py"
		name="mic1"
		output="screen"
	>
		<param name="device_name" value="hw:2,0" />
		<param name="num_channels" value="1" />
		<param name="sample_rate" value="16000" />
	</node>
	<node
		pkg="audio_io"
		type="capture.py"
		name="mic2"
		output="screen"
	>
		<param name="device_name" value="hw:3,0" />
		<param name="num_channels" value="1" />
		<param name="sample_rate" value="16000" />
	</node>
	<node
		pkg="audio_io"
		type="capture.py"
		name="mic3"
		output="screen"
	>
		<param name="device_name" value="hw:4,0" />
		<param name="num_channels" value="1" />
		<param name="sample_rate" value="16000" />
	</node>

	<node
		pkg="audio_features"
		type="features.py"
		name="audio_features1"
		output="screen"
	>
		<param name="audio_topic" value="/mic1/data" />
		<param name="features_topic" value="/bc/audio_features1" />
	</node>
	<node
		pkg="audio_features"
		type="features.py"
		name="audio_features2"
		output="screen"
	>
		<param name="audio_topic" value="/mic2/data" />
		<param name="features_topic" value="/bc/audio_features2" />
	</node>
	<node
		pkg="audio_features"
		type="features.py"
		name="audio_features3"
		output="screen"
	>
		<param name="audio_topic" value="/mic3/data" />
		<param name="features_topic" value="/bc/audio_features3" />
	</node>

	<node
		pkg="bundler"
		type="bundle.py"
		name="bundler"
		output="screen"
	>
		<param name="audio_features_P1_topic" value="/bc/audio_features1" />
		<param name="audio_features_P2_topic" value="/bc/audio_features2" />
		<param name="audio_features_P3_topic" value="/bc/audio_features3" />
	</node>
</launch>
